{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% set show_navbar = false %}

{% block body %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card p-3 mt-2" style="max-width: 750px; width:100%">
            <h1 class="card-title">
                Sign up
            </h1>
            {{ form_errors(registrationForm) }}
        
            {{ form_start(registrationForm) }}
    
            {{ form_row(registrationForm.name,{
                label:'Name*'
            }) }}
    
            {{ form_row(registrationForm.lastname,{
                label:'Lastname*'
            }) }}
    
            {{ form_row(registrationForm.email,{
                label:'Email*'
            }) }}
    
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password*'
            }) }}
    
            {{ form_row(registrationForm.phone) }}
    
            {{ form_row(registrationForm.instagram) }}
    
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
                <a class="btn btn-secondary" href="{{ path('app_main') }}">Back</a>
            </div>
            {{ form_end(registrationForm) }}
            <div class="mt-3 text-center">
                <p>Already have an account? <a href="{{ path('app_login') }}">Log in</a></p>
            </div>
        </div>
    </div>
{% endblock %}
